.navbar__button {
    background: transparent;
    border: 0;
    padding: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #A9A9A9;
    
    width: 56px;
    height: 22px;
    margin-left: 24px;
    padding-top: 6px;
}

.navbar__button:hover {
    cursor: pointer;
}